
html, body {
    margin: 0;
    padding: 0: 
}

h1 {
    color:blue;
    font-size: 3rem;
}

.wrapper {
    background: lightblue;
    border: 2px solid navy;
    height: 98vh;
    width: 95vw;
    margin: auto;
}

body {
    background: #f0f0f0;
}


/* notes
em is relative to the element which i would have to declare in the element
rem is relative to the root which i can declare in html {} 16px is default root
padding inside margins outside

*/
