html, body {
    margin: 0;
    padding: 0;
}

h1 {
    color: orange;
    font-size: 3rem;
    margin: 0;
}

h2 {
	color: orange;
	
}

.wrapper {   
    margin: 0px auto;      
    min-height: 100vh;
	overflow: hidden;
    padding: 2em;            
    background-color: #F4F3F3;
    border: 8px solid #FF6F01;
	box-sizing: border-box; 
    overflow-x: hidden; 
}

.sub-wrap {
	margin: 20px auto;      
    padding: 2em;            
    background-color: #F4F3F3;
    border: 2px solid #FF6F01;
	
}

.half-b-container {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: nowrap; 
}

.half-b {
    flex: 1 1 0; 
    padding: 2em;
    background-color: #F4F3F3;
    border: 2px solid #FF6F01;
    box-sizing: border-box;
    min-height: 15rem;
}

body {
    background: #f0f0f0;
}

/* media */

@media (max-width: 400px) {
  .half-b-container {
    flex-wrap: wrap;  /* allow boxes to stack */
  }
  .half-b {
    flex: 1 1 100%;   /* full width when stacked */
  }
}


/* notes
em is relative to the element which i would have to declare in the element
rem is relative to the root which i can declare in html {} 16px is default root
padding inside margins outside

*/
