html, body {
    height: 100%
}

h1 {
    color:blue;
    font-size: 3rem;
}

.wrapper {
    background: lightblue;
    border: 2px solid navy;
    height: 98%;
    width: 95%;
    
}

body {
    background: #f0f0f0;
}


/* notes
em is relative to the element which i would have to declare in the element
rem is relative to the root which i can declare in html {} 16px is default root
padding inside margins outside

*/
