html, body {
    margin: 0;
    padding: 0;
}

h1 {
    color: orange;
    font-size: 3rem;
    margin: 0;
}

h2 {
	color: orange;
	
}

.wrapper {   
    margin: 0px auto;      
    min-height: 100vh;
	overflow: hidden;
    padding: 2em;            
    background-color: #F4F3F3;
    border: 8px solid #FF6F01;
}

.sub-wrap {
	margin: 20px auto;      
    padding: 2em;            
    background-color: #F4F3F3;
    border: 2px solid #FF6F01;
	
}

.half-b-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: nowrap; 
}

.half-b {
	margin: 20px auto;      
    padding: 2em;            
    background-color: #F4F3F3;
    border: 2px solid #FF6F01;
	min-height: 15rem;
	flex: 1 1 40%;
}


body {
    background: #f0f0f0;
}


/* notes
em is relative to the element which i would have to declare in the element
rem is relative to the root which i can declare in html {} 16px is default root
padding inside margins outside

*/
